<div class='main_container'>
    <div class="row">
      <div class="span9">

          <% if @projects.empty? %>

            <div class="alert alert-danger bs-alert-old-docs">
              <strong>No Projects Found!</strong>
            </div>

            <div class='top-buffer'>
              <p>
                <%=link_to 'Create One', new_project_path, :class=>'btn btn-large btn-primary'%>
              </p>
            </div>

         <% else %>
            <div class='top-buffer'>
             <%=flash_message%>
            </div>
          <% end %>

        <!--<div class="row">
          <div class="span6">Level 2</div>
          <div class="span3">Level 2</div>
        </div>-->

      </div>
    </div>
</div>